{% extends 'base.html.twig' %}

{% block body %}
    <h1>Nouvelle interventions</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">Créer</button>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/form-validation.js') }}"></script>
{% endblock %} {# Ajout d'un script JavaScript pour la validation du formulaire #}
